#!/bin/bash

# use nvim if its there
if which nvim > /dev/null; then
  function vim() {
    nvim $@
  }
fi

# open, copy, paste
if [[ "$OSTYPE" == "linux-gnu" ]]; then
  alias open="xdg-open"
  alias copy="xclip -sel clip"
  alias paste="xclip -o -sel clip"
elif [[ "$OSTYPE" == "darwin"* ]]; then
  alias copy="pbcopy"
  alias paste="pbpaste"
fi

# tmux
alias tmux="tmux -2"
