#!/bin/bash

if which nvim > /dev/null; then
  function vim() {
    nvim $@
  }
fi

if [[ "$OSTYPE" == "linux-gnu" ]]; then
  alias open="xdg-open"
  alias copy="xclip -sel clip"
  alias paste="xclip -o -sel clip"
elif [[ "$OSTYPE" == "darwin"* ]]; then
  alias copy="pbcopy"
  alias paste="pbpaste"
fi

alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
