#!/bin/bash

# open, copy, paste
if [[ "$OSTYPE" == "linux-gnu" ]]; then
  alias open="xdg-open"
  alias copy="xclip -sel clip"
  alias paste="xclip -o -sel clip"
elif [[ "$OSTYPE" == "darwin"* ]]; then
  alias copy="pbcopy"
  alias paste="pbpaste"
fi

# tmux
alias tmux="tmux -2"

# git-branch
alias git-branch="git rev-parse --abbrev-ref HEAD"
